.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
}
.ctools-owns-lock {
    background: #FFFFDD none repeat scroll 0 0;
    border: 1px solid #F0C020;
    padding: 1em;
}
a.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(/profiles/apigee/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
}
input.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(/profiles/apigee/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
}
button.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(/profiles/apigee/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
}
select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(/profiles/apigee/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
}
div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(/profiles/apigee/modules/contrib/ctools/images/status-active.gif) center center no-repeat;
}
body {
    #method_content {
        pre {
            span {
                font-family: monospace;
            }
        }
        .resource_description {
            padding-top: 35px;
        }
    }
    #resource_URL {
        input {
            font-family: monospace;
        }
    }
}
.modal[role="dialog"] {
    .modal-body {
        #user-login {
            input {
                float: none;
                margin-left: inherit;
                width: 100%;
            }
            label {
                float: none;
                font-weight: bold;
                padding-top: 5px;
                text-align: left;
                width: inherit;
            }
        }
        #user-register-form {
            input {
                float: none;
                margin-left: inherit;
                width: 100%;
            }
            label {
                float: none;
                font-weight: bold;
                padding-top: 5px;
                text-align: left;
                width: inherit;
            }
        }
    }
    #user-login {
        input {
            height: inherit;
        }
    }
    #user-register-form {
        input {
            height: inherit;
        }
    }
}
#register.modal[role="dialog"] {
    .modal-body {
        max-height: 1000px;
        max-height: 1000px;
        overflow-y: visible;
        overflow-y: visible;
    }
}
[role="dialog"] {
    #user-login {
        .form-group {
            clear: none;
            float: none;
            margin-top: 10px;
        }
    }
    #user-register-form {
        .form-group {
            clear: none;
            float: none;
            margin-top: 10px;
        }
    }
}
body.page-admin-smartdocs {
    th.smartdocs-operations {
        width: 24%;
    }
    #edit-resources {
        font-size: 11px;
    }
    #edit-methods {
        font-size: 11px;
    }
    .api-model-table-operations {
        width: 160px;
    }
}
.node-teaser {
    .method_details {
        border-bottom: 1px solid #CACACA;
        padding: 10px 0;
        line-height: 13px;
        .title {
            a {
                font-size: 15px;
                line-height: 13px;
            }
            float: left;
            width: 450px;
            position: relative;
            font-size: 13px;
            p.resource_path {
                margin: 0;
                padding: 5px 0 0 0;
                color: #AAAAAA;
            }
        }
        .title-header {
            float: left;
            width: 450px;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .description-header {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            max-width: 500px;
            overflow: hidden;
        }
        &:hover {
            background-color: #FBFBFB;
        }
        .verb-auth {
            float: left;
            width: 100px;
        }
        .title-description {
            float: left;
            max-width: 300px;
            padding-left: 10px;
        }
        .title-description-node {
            float: left;
            max-width: 500px;
            padding-left: 10px;
            padding-right: 15px;
        }
    }
    h3.method-tag-header {
        margin-top: 25px;
    }
    p.get {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #008BFA;
    }
    p.post {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #15B946;
    }
    p.put {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #FA9400;
    }
    p.delete {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #E50000;
    }
    p.patch {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #D38042;
    }
    p.GET {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #008BFA;
    }
    p.POST {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #15B946;
    }
    p.PUT {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #FA9400;
    }
    p.DELETE {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #E50000;
    }
    p.PATCH {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #D38042;
    }
    span.icon_lock {
        background: url(/profiles/apigee/modules/custom/devconnect/smartdocs/img/lock.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: inline-block;
        float: left;
        height: 12px;
        margin: 8px 4px 4px;
        width: 11px;
    }
    .resource_summary {
        h4 {
            font-size: 16px;
            margin: 0;
            padding-bottom: 4px;
        }
        div.field-item {
            float: right;
            clear: both;
        }
        .row {
            margin-top: 15px;
        }
    }
    .table-condensed {
        td {
            word-break: break-all;
        }
        table-layout: fixed;
    }
    h2.subtitle {
        float: inherit;
        width: auto;
    }
    #resource_URL {
        input {
            position: relative;
            top: 4px;
        }
    }
}
.view {
    .method_details {
        border-bottom: 1px solid #CACACA;
        padding: 10px 0;
        line-height: 13px;
        .title {
            a {
                font-size: 15px;
                line-height: 13px;
            }
            float: left;
            width: 450px;
            position: relative;
            font-size: 13px;
            p.resource_path {
                margin: 0;
                padding: 5px 0 0 0;
                color: #AAAAAA;
            }
        }
        .title-header {
            float: left;
            width: 450px;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .description-header {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            max-width: 500px;
            overflow: hidden;
        }
        &:hover {
            background-color: #FBFBFB;
        }
        .verb-auth {
            float: left;
            width: 100px;
        }
        .title-description {
            float: left;
            max-width: 300px;
            padding-left: 10px;
        }
        .title-description-node {
            float: left;
            max-width: 500px;
            padding-left: 10px;
            padding-right: 15px;
        }
        .description {
            line-height: 20px;
            max-width: 500px;
            overflow: hidden;
        }
    }
    h3.method-tag-header {
        margin-top: 25px;
    }
    p.get {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #008BFA;
    }
    p.post {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #15B946;
    }
    p.put {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #FA9400;
    }
    p.delete {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #E50000;
    }
    p.patch {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #D38042;
    }
    p.GET {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #008BFA;
    }
    p.POST {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #15B946;
    }
    p.PUT {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #FA9400;
    }
    p.DELETE {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #E50000;
    }
    p.PATCH {
        border-radius: 3px 3px 3px 3px;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0 0;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
        background-color: #D38042;
    }
    span.icon_lock {
        background: url(/profiles/apigee/modules/custom/devconnect/smartdocs/img/lock.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: inline-block;
        float: left;
        height: 12px;
        margin: 8px 4px 4px;
        width: 11px;
    }
    .resource_summary {
        h4 {
            font-size: 16px;
            margin: 0;
            padding-bottom: 4px;
        }
        div.field-item {
            float: right;
            clear: both;
        }
        .row {
            margin-top: 15px;
        }
    }
    .table-condensed {
        td {
            word-break: break-all;
        }
        table-layout: fixed;
    }
    h2.subtitle {
        float: inherit;
        width: auto;
    }
    #resource_URL {
        input {
            position: relative;
            top: 4px;
        }
    }
}
.front {
    .node-teaser {
        .method_details {
            .title {
                a {
                    font-size: 13px;
                }
            }
        }
    }
    .view {
        .method_details {
            .title {
                a {
                    font-size: 13px;
                }
            }
            .title-description {
                max-width: 260px;
            }
        }
    }
}
.node-teaser.method_details {
    .description {
        line-height: 20px;
        max-width: 500px;
        overflow: hidden;
    }
}
.page-taxonomy {
    .node-teaser {
        footer {
            display: none;
        }
    }
}
body.page-node {
    #container {
        #content {
            width: 100%;
            border-right: 0;
        }
        #index_container {
            width: 100%;
            border-right: 0;
        }
        h2 {
            width: 610px;
            padding-bottom: 15px;
        }
    }
}
form#devconnect-docgen-model-detail {
    table {
        td.description-field {
            width: 12%;
            max-width: 400px;
        }
        td.word-wrap {
            word-break: break-all;
        }
    }
}
div.method_data {
    div.title-description {
        p {
            word-wrap: break-word;
        }
    }
}
body.front {
    section.block {
        div.method_details {
            &:hover {
                border: none;
                background: transparent;
            }
            border: none;
            background: transparent;
        }
        div.method_data {
            border: none;
            background: transparent;
            padding: 0 0 10px;
        }
    }
    .method_details {
        padding: 0;
        .verb-auth {
            width: 80px;
        }
    }
}
#block-views-home-featured-forum-posts-block {
    border-left: 1px dashed #E0E0E0;
    border-right: 1px dashed #E0E0E0;
}
.page-content {
    .container {
        .col-sm-12 {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
table.table {
    td {
        p.data {
            word-break: break-all;
        }
    }
}
.page-admin-smartdocs {
    .collapsible {
        .fieldset-legend {
            a {
                height: 30px;
            }
        }
    }
    input[type="text"] {
        &:disabled {
            background-color: #F4F4F4;
        }
    }
    .templateauth-type {
        margin: 10px 0;
    }
    .templateauth-help {
        margin: 10px 0;
        border: 1px solid #ccc;
        padding: 10px;
        div {
            margin: 5px 0;
        }
    }
    .smartdocs-revision-view-published-docs {
        border: 1px solid #ccc;
        padding: 10px;
    }
}
.view-smartdocs-models {
    .model-info {
        border-bottom: 1px solid #CACACA;
        padding: 10px;
    }
    span.field-content.model_title {
        font-weight: bold;
        font-size: 16px;
    }
    .views-field-name {
        margin: 0 0 5px 0;
    }
}
#edit-auth-fields-granttype {
    div {
        &:nth-child(1) {
            display: none;
        }
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(3) {
            display: none;
        }
    }
}
#method_container {
    margin: 0 auto;
}
#method_content {
    margin-top: 0;
    .resource_description {
        font-size: 14px;
    }
    [data-role='method_url_container'] {
        font-family: monospace;
    }
    .url_container {
        >p {
            >span {
                font-family: monospace;
            }
        }
    }
    .table {
        >thead {
            >tr {
                >th {
                    border-bottom: none;
                }
            }
        }
        th {
            background-color: #ffffff;
        }
    }
    span[data-role='name'] {
        font-weight: bold;
    }
    span[data-role='required'] {
        font-style: italic;
    }
    .table-striped {
        >tbody {
            >tr {
                &:nth-child(odd) {
                    >td {
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}
.table-striped {
    >tbody {
        >tr {
            &:nth-child(odd) {
                >th {
                    background-color: #ffffff;
                }
            }
        }
    }
}
.resource-ops {
    top: -24px;
    z-index: 1;
    right: 0;
    position: relative;
    float: right;
    width: 150px;
}
body.tao {
    .resource-ops {
        top: 4px;
        right: 70px;
    }
    #smartdocs-revision-detail {
        tbody {
            .ctools-dropbutton {
                margin-top: 0;
            }
        }
    }
}
#smartdocs-revision-detail {
    tbody {
        .ctools-dropbutton {
            margin-top: -1em;
        }
    }
}
.request_payload {
    .docs {
        margin: 5px 0;
        border: 1px solid #cacaca;
        padding: 23px;
    }
}
.payload_text_schema {
    margin: 5px 0;
    border: 1px solid #cacaca;
}
#field-overview {
    tr.field-group {
        .group-label {
            font-weight: bold;
        }
    }
    tr.static-region {
        background-color: #ddd;
    }
}
#field-display-overview {
    tr.field-group {
        .group-label {
            font-weight: bold;
        }
    }
    tr.static-region {
        background-color: #ddd;
    }
}
#edit-refresh {
    display: none;
}
